{
	"foreach":"img in site.gallery",
	"unknownText" : "<i>Unknown</i>"
}
-----
{% if img.isFile %% {% call copyAndThumbImage {{img.filename}} 0.5 0.5 {{img.outputDirname}}/{{img.basename}} 256 256 {{img.outputDirname}}/thumb_{{img.basename}} %} %}

{{ site.layouts.defaultPre.content}}

<div class="post">
{% if img.isFile %%
     <center><a href="{{img.urlDirname}}/{{img.basename}}"><img src="{{img.urlDirname}}/{{img.basename}}" style="max-height:570px;"></a></center>
     <table style="width:100%"><tr>
     <td><span class="imagePrev">{% if img.previousFile %% <a href="{{img.previousFile.url}}">&lt;</a>%}{% ifnot img.previousFile %% &#183; %}</span></td>
     <td width="95%" align="center">
     <div class="imageDescription">
     <span class="exifTag">Filename :</span> {{img.basename}} &nbsp;&nbsp;
     <span class="exifTag">Date :</span> {% if img.EXIF.DateTimeOriginal %% {{img.EXIF.DateTimeOriginal}} %}{% ifnot img.EXIF.DateTimeOriginal %% {{layout.unknownText}} %}&nbsp;&nbsp;
     <span class="exifTag">Camera :</span> {% if img.MakerNote.ModelID %% {{img.MakerNote.ModelID}} %}{% ifnot img.MakerNote.ModelID %% {{layout.unknownText}} %} &nbsp;&nbsp;
     <span class="exifTag">Lens :</span> {% if img.EXIF.LensModel %% {{img.EXIF.LensModel}} %}{% ifnot img.EXIF.LensModel %% {{layout.unknownText}} %} &nbsp;&nbsp;
     <br>
     <span class="exifTag">Focal Length :</span> {% if img.EXIF.FocalLength %% {% call calc %% {{img.EXIF.FocalLength}} %} mm %}{% ifnot img.EXIF.FocalLength %% {{layout.unknownText}} %} &nbsp;&nbsp;
     <span class="exifTag">Aperture :</span> {% if img.EXIF.FNumber %% F/{% call calc %% {{img.EXIF.FNumber}} %} %}{% ifnot img.EXIF.FNumber %% {{layout.unknownText}} %} &nbsp;&nbsp;
     <span class="exifTag">Exposure :</span> {% if img.EXIF.ExposureTime %% {{img.EXIF.ExposureTime}} %}{% ifnot img.EXIF.ExposureTime %% {{layout.unknownText}} %}&nbsp;&nbsp;
     <span class="exifTag">ISO :</span> {% if img.EXIF.ISOSpeedRatings %% {{img.EXIF.ISOSpeedRatings}} %}{% ifnot img.EXIF.ISOSpeedRatings %% {{layout.unknownText}} %}&nbsp;&nbsp;
     </div>
     </td>
     <td><span class="imageNext">{% if img.nextFile %% <a href="{{img.nextFile.url}}">&gt;</a>%}{% ifnot img.nextFile %% &#183; %}</span></td>
     </tr></table>
%}
{% ifnot img.isFile %%
  {% foreach file in img.subFiles %%
       {% if file.isFile %% 
       <a href="{{file.url}}"><img src="{{file.urlDirname}}/thumb_{{file.basename}}"></a><br>
       %}
  %}
%}
</div>

{{ site.layouts.defaultPost.content}}
