{
	"generate": "index.html",
	"addHeader": "True",
	"addFooter": "True"
}
-----
{{ site.layouts.mainPre.content }}	

	<h1>Grimoire Sample Site</h1>
	<p>Last posts :</p>
	<ul>
	{% foreach post in site.categories.Posts.data %%
		<li><a href="{{post.url}}">{% if post.title %% {{post.title}} %}{% ifnot post.title %% <i>Untitled</i> %}</a></li>
	%}
	</ul>

	<br>
	<p>Last images :</p>
	<ul>
	{% foreach item in site.categories.Gallery.data %%
		{% if item.isFile %%
		<li><a href="{{item.url}}">{{item.name}}</a></li>
		%}
	%}
	</ul>

{{ site.layouts.mainPost.content }}
