<!DOCTYPE html>
<html>
<head>
	<!--Meta Information -->
	<meta charset="utf-8">
	{% if layout.pageTitle %% <title>{{layout.pageTitle}}</title> %}
	{% ifnot layout.pageTitle %% <title>{{site.site}}</title> %}
	{% if layout.pageDescription %% <meta name="description" content="{{layout.pageDescription}}"> %}
	{% if layout.pageKeywords %% <meta name="keywords" content="{{layout.pageKeywords}}"> %}

	<link rel="stylesheet" href="{{site.rootDirectory}}/mainStyleSheet.css">
	
	{% if layout.useMathJAX %%
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']]} });</script>
	<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	%}
</head>
<body>	
	{% if layout.addFooter %%
	<div id="contentForFooter"> 
	%}
	{% ifnot layout.addFooter %%
	{% if layout.fixedHeight %%
	<div id="contentFixedHeight">
	%}
	{% ifnot layout.fixedHeight %%
	<div id="content">
	%}
	%}

	{% if layout.addHeader %%
	<div id="header"> <!-- The header must be inside the content id for the footer to work correctly. -->
	<div id="navBar">
	<ul>
		<li class="headerTitle"><a href="{{site.rootDirectory}}/index.html">{{site.title}}</a></li>
		{% foreach category in site.categories %% <li class="category"><a href="{{site.rootDirectory}}/{{category.category}}/index.html">{{category.category}} &gt;</a></li> %}
	</ul>
	</div> <!-- navBar -->
	</div> <!-- header -->
	%}

	{% ifnot layout.fixedHeight %%
	<div id="pageContent">
	%}
	{% if layout.fixedHeight %%
	<div id="pageContentFixedHeight">
	%}
	<!-- The page content will start here... -->
