{
	"layout" : "default",
	"foreach" : "post in site.posts"
}
-----
<div class="post">

  {% if temp %% Nooo %}
  {% if site.address %% Yeah %}  
  {% if site.address %% {{site.site}} %}
  
  {% for p in site.posts %%
{{p.title}}
{{p.filename}}
<{% if p.title %%Title : {{p.title}}%}{% ifnot p.title %%MISSING TITLE%}>
URL : {{p.url}}
OUT : {{p.outputFilename}}
%}

  {% if site.address %% Yeah %}

  <header class="post-header">
    <h1 class="post-title">{{ data.title }}</h1>
    <p class="post-meta">{ page.date | date: "%b %-d, %Y" }{ if page.author } - { page.author }{ endif }{ if page.meta } - { page.meta }{ endif }</p>
  </header>

  <article class="post-content">
    {{ post.content }}
  </article>

</div>
