{
	"foreach": "item in site.categories.Gallery.data",
	"unknownText" : "Unknown",
	"addHeader": "True",
	"fixedHeight": "True",
	"thumbnailSize": "256"
}
-----
{% if item.isFile %% {% call copyAndThumbImage {{item.filename}} 0.5 0.5 {{item.outputDirname}}/{{item.basename}} {{layout.thumbnailSize}} {{layout.thumbnailSize}} {{item.outputDirname}}/thumb_{{item.basename}} %} %}

{{ site.layouts.mainPre.content }}

	{% ifnot item.isFile %%	
	<div id="imageBlocksWrap">
		<!-- Directories -->
		{%if item.parent %%
		<div class="imageBox">
		<a href="{{item.parent.url}}">
		<div class="innerBackBox">
			Back
		</div>
		</a>
		</div>
		%}
		{% foreach subItem in item.subDirectories %%
		<div class="imageBox">
		<a href="{{subItem.url}}">
		<div class="innerDirectoryBox">
			{{subItem.name}}
		</div>
		</a>
		</div>
		%}
		<!-- Images -->
		{% foreach subItem in item.subFiles %%
		<div class="imageBox">
		<div class="innerImageBox">
			<a href="{{subItem.url}}">
			<img src="{{subItem.urlDirname}}/thumb_{{subItem.basename}}">
			</a>
		</div>
		</div>
		%}
	</div>	
	%}
	{% if item.isFile %%	
	<!-- Image -->
	<div id="imageDiv">
	<img src="{{item.urlDirname}}/{{item.basename}}">
	</div>
	<div id="imageNavBar">
	<ul>
		{% if item.previousFile %%
		<li class="previousImage"><a href="{{item.previousFile.url}}">&lt;</a></li>
		%}
		{% ifnot item.previousFile %%
		<li class="placeHolder"> </li>
		%}
		<li class="imageDescription">
		<span class="exifField">
			<span class="exifTag">Gallery :</span>
			<span class="exifValue"><a href="{{item.urlDirname}}/index.html">{{item.directoryName}}</a></span>
		</span>
		<span class="exifField">
			<span class="exifTag">Filename :</span> 
			<span class="exifValue">{{item.basename}}</span>
		</span>
		<span class="exifField">
			<span class="exifTag">Date :</span>
			{% if item.EXIF.DateTimeOriginal %% <span class="exifValue">{{item.EXIF.DateTimeOriginal}}</span> %}{% ifnot item.EXIF.DateTimeOriginal %% <span class="exifUnknown">{{layout.unknownText}}</span> %}
		</span>
		<span class="exifField">
			<span class="exifTag">Camera :</span>
			{% if item.MakerNote.ModelID %% <span class="exifValue">{{item.MakerNote.ModelID}}</span> %}{% ifnot item.MakerNote.ModelID %% <span class="exifUnknown">{{layout.unknownText}}</span> %}	
		</span>
		<span class="exifField">
			<span class="exifTag">Lens :</span> 
			{% if item.EXIF.LensModel %% <span class="exifValue">{{item.EXIF.LensModel}}</span> %}{% ifnot item.EXIF.LensModel %% <span class="exifUnknown">{{layout.unknownText}}</span> %}	
		</span>
		<span class="exifField">
			<span class="exifTag">Focal Length :</span>
			{% if item.EXIF.FocalLength %% <span class="exifValue">{% call calc %% {{item.EXIF.FocalLength}} %} mm</span> %}{% ifnot item.EXIF.FocalLength %% <span class="exifUnknown">{{layout.unknownText}}</span> %}	
		</span>
		<span class="exifField">
			<span class="exifTag">Aperture :</span>
			{% if item.EXIF.FNumber %% <span class="exifValue">F/{% call calc %% {{item.EXIF.FNumber}} %}</span> %}{% ifnot item.EXIF.FNumber %% <span class="exifUnknown">{{layout.unknownText}}</span> %}
		</span>
		<span class="exifField">
			<span class="exifTag">Exposure :</span>
			{% if item.EXIF.ExposureTime %% <span class="exifValue">{{item.EXIF.ExposureTime}} s</span> %}{% ifnot item.EXIF.ExposureTime %% <span class="exifUnknown">{{layout.unknownText}}</span> %}
		</span>
		<span class="exifField">
			<span class="exifTag">ISO :</span>
			{% if item.EXIF.ISOSpeedRatings %% <span class="exifValue">{{item.EXIF.ISOSpeedRatings}}</span> %}{% ifnot item.EXIF.ISOSpeedRatings %% <span class="exifUnknown">{{layout.unknownText}}</span> %}
		</span>
		{% if item.EXIF.UserComment %% 
		<br>
		<span class="exifField">
			<span class="exifTag">Comment :</span>
			<span class="exifValue">{{item.EXIF.UserComment}}</span>
		</span>
		%}
		</li>
		{% if item.nextFile %%
		<li class="nextImage"><a href="{{item.nextFile.url}}">&gt;</a></li>
		%}
		{% ifnot item.nextFile %%
		<li class="placeHolder"> </li>
		%}
	<ul>
	</div>
	%}

{{ site.layouts.mainPost.content }}
