{
	"generate": "mainStyleSheet.css",

	"white": "#FFF",
	"gray": "#333",
	"darkGray": "#222",
	"darkerGray": "#111",
	"lightGray": "#666",
	"lighterGray": "#AAA",
	"backgroundColor": "#24242A",	

	"headerHeight": "2.5em",
	"footerHeight": "2em",
	"mainSideMargin" : "2em"
}
-----
/* Generic */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: {{layout.white}};
	background-color: {{layout.backgroundColor}};
}

html, body
{
	width: 100%;
	height: 100%;
}

a
{
	color: {{layout.white}}
	text-decoration: underline;
}

a:visited
{
	color: {{layout.lighterGray}}
}

/* Header And NavBar */
#header
{
	background-color: {{layout.darkerGray}};
}

#navBar
{
	width:100%;
	height: {{layout.headerHeight}};
}

#navBar ul li
{
	/*display: block;*/
	float: left;
	color: {{layout.white}};
	/*padding: 0 1em 0 1em;*/
	border-right: 2px solid {{layout.darkGray}};
	list-style: none;
	line-height: {{layout.headerHeight}};
	text-align: center;
	cursor: pointer;
}

#navBar .headerTitle
{
	font-weight: bold;	
	margin-left: {{layout.mainSideMargin}}
}

#navBar .headerTitle a
{
	display: inline-block;
	padding: 0 1em 0 1em;
	text-decoration: none;
	color: {{layout.white}};
}

#navBar .headerTitle a:visited
{
	color: {{layout.white}};
}

#navBar .category:hover
{
	background-color: {{layout.gray}};
}

#navBar .category a
{
	display: inline-block;
	padding: 0 1em 0 1em;
	text-decoration: none;
	color: {{layout.white}};
}

#navBar .category a:visited
{
	color: {{layout.white}};
}

/* Main content, for the footer to work correctly */
#content
{ }

#contentFixedHeight
{
	height: 100%;
}

#contentForFooter
{
	min-height: 100%;
	margin-bottom: -{{layout.footerHeight}}; 
	padding-bottom: {{layout.footerHeight}};
	box-sizing: border-box;
}

/* Page Content */
#pageContent
{
	margin: 0.5em 4em 0.5em 4em;
}

#pageContentFixedHeight
{
	height: 100%;
	margin: 0.5em 4em 0.5em 4em;
}

/* Footer */
footer, .pageWrap:after
{
	height: {{layout.footerHeight}};
}

footer
{
	background-color: {{layout.darkerGray}};
}

#footerLeft
{
	float: left;
	margin-left: {{layout.mainSideMargin}};
}

#footerLeft ul li
{
	display: block;
	float: left;
	padding-right: 0.75em;
	list-style: outside none none;
	line-height: {{layout.footerHeight}};
	text-align: center;
}

#footerLeft a
{
	text-decoration: none;
	color: {{layout.white}}
}

#footerLeft a:visited
{
	text-decoration: none;
	color: {{layout.lighterGray}}
}

#footerRight
{
	float:right;
	margin-right: {{layout.mainSideMargin}};
	line-height: {{layout.footerHeight}};
	text-align: center;
}

/* Code Highlight */
{% if site.layouts.highlight %% {{site.layouts.highlight.content}} %}

/* Gallery elements */
{% if site.layouts.galleryStyleSheet %% {{site.layouts.galleryStyleSheet.content}} %}

